@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
    var _ = Model.Movie._;
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label dataset-for="Movie" dataset-column="@_.Title" class="control-label"></label>
                <input dataset-for="Movie" dataset-column="@_.Title" class="form-control" />
                <span dataset-validation-for="Movie" dataset-column="@_.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label dataset-for="Movie" dataset-column="@_.ReleaseDate" class="control-label"></label>
                <input dataset-for="Movie" dataset-column="@_.ReleaseDate" class="form-control" />
                <span dataset-validation-for="Movie" dataset-column="@_.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label dataset-for="Movie" dataset-column="@_.Genre" class="control-label"></label>
                <input dataset-for="Movie" dataset-column="@_.Genre" class="form-control" />
                <span dataset-validation-for="Movie" dataset-column="@_.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label dataset-for="Movie" dataset-column="@_.Price" class="control-label"></label>
                <input dataset-for="Movie" dataset-column="@_.Price" class="form-control" />
                <span dataset-validation-for="Movie" dataset-column="@_.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}