@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
    var _ = Model.Movies._;
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@_.Title.DisplayName</th>
            <th>@_.ReleaseDate.DisplayName</th>
            <th>@_.Genre.DisplayName</th>
            <th>@_.Price.DisplayName</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dataRow in Model.Movies)
        {
            <tr>
                <td>@_.Title[dataRow]</td>
                <td>@_.ReleaseDate[dataRow]?.ToString("yyyy-MM-dd")</td>
                <td>@_.Genre[dataRow]</td>
                <td>@_.Price[dataRow]?.ToString("C")</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@_.ID[dataRow]">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@_.ID[dataRow]">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@_.ID[dataRow]">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
