@page
@model RazorPagesMovie.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
    var _ = Model.Movie._;
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @_.Title.DisplayName
            </th>
            <th>
                @_.ReleaseDate.DisplayName
            </th>
            <th>
                @_.Genre.DisplayName
            </th>
            <th>
                @_.Price.DisplayName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var dataRow in Model.Movie) {
        <tr>
            <td>
                @_.Title[dataRow]
            </td>
            <td>
                @_.ReleaseDate[dataRow]
            </td>
            <td>
                @_.Genre[dataRow]
            </td>
            <td>
                @_.Price[dataRow]
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@_.ID[dataRow]">Edit</a> |
                <a asp-page="./Details" asp-route-id="@_.ID[dataRow]">Details</a> |
                <a asp-page="./Delete" asp-route-id="@_.ID[dataRow]">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
